@import "~bootstrap/scss/bootstrap";
@import "~codemirror/lib/codemirror.css";

* {
  font-family: "Lato", sans-serif;
}
.intro * {
  transition: all 0.3s linear;
}
.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-phase {
  margin: 0 auto;
  width: fit-content;

  .intro-image img {
    width: 15%;
  }

  .intro_maintext {
    font-size: 6rem;
    color: #555;
    text-align: center;
  }
  .intro_subtext {
    color: #999;
    font-size: 2.5rem;
  }
  .intro_maintext_dot {
    opacity: 0;
    font-size: 0px !important;
  }
  .intro_info_text {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    opacity: 0;
  }
}
.intro_phase_0 {
  .intro-image img {
    margin-top: 5rem;
    width: 20%;
  }
  .intro_subtext {
    opacity: 0;
  }
  .intro_maintext {
    opacity: 0;
  }
}
.intro_phase_1 {
  .intro_subtext {
    opacity: 0;
  }
  .intro_maintext_dot {
    opacity: 1;
    font-size: inherit !important;
  }
  .scroll-down {
    display: block;
  }
}
.intro_phase_2 {
  .intro_info_text {
    opacity: 1;
  }
}
.nav-item {
  font-size: 1.5rem;
}

.class-exposer * {
  text-shadow: 0 0 1px #fff;
}
.class-exposer {
  border: 1px solid rgb(0, 47, 255);
  margin-bottom: 1em;

  .class-exposer_name,
  .class-exposer_action-name {
    padding-left: 0.25rem;
    font-weight: 700;
  }

  ul {
    padding-inline-start: 2rem;
  }

  li.class-exposer_action {
    list-style: none;
    border: 1px solid rgb(174, 0, 255);
    margin: 0 1em 1em 0;
    cursor: pointer;

    &:hover {
      background-color: rgb(249, 238, 255);
    }
  }

  .class-exposer_action-code {
    margin-left: 2rem;
  }
}
.main-content {
  min-height: 100vh;
  color: #444;
  padding-top: 2rem;
  position: relative;
  font-size: 1.1rem;

  .next-phase,
  .back-phase {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back-phase {
    left: 1em;
  }
  &.tab-fixed {
    margin-top: 4rem;

    .next-phase,
    .back-phase {
      position: fixed;
      top: 4em;
    }
  }
  h2 {
    font-size: 2.5rem;
  }
  ul.phase-step {
    font-size: 1.3rem;
  }
}
.nav {
  background-color: #f5f5f5;
}
.nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.scroll-down {
  font-size: 0.7rem;
  color: #555;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.blockquote {
  border: 1px solid rgb(97, 11, 255);
  border-left-width: 0.4rem;
  padding: 0.5rem;
  color: #555;
}
.phase [class*="phase-step"] {
  display: none;
}
.image-circle {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  border: 3px solid rgb(127, 91, 255);
  overflow: hidden;
  margin: 1rem;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      width: 100%;
    }
  }
}
.line {
  display: inline-block;
  border-top: 2px solid #ccc;
  width: 5rem;
}
.CodeMirror {
  border: 1px solid #eee;
  height: fit-content;
}
.height-10rem {
  height: 10rem;
}
#happy-new-year {
  $particles: 50;
  $width: 500;
  $height: 500;

  // Create the explosion...
  $box-shadow: ();
  $box-shadow2: ();
  @for $i from 0 through $particles {
    $box-shadow: $box-shadow,
      random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff;
  }
  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }

    @-moz-keyframes #{$animationName} {
      @content;
    }

    @-o-keyframes #{$animationName} {
      @content;
    }

    @-ms-keyframes #{$animationName} {
      @content;
    }

    @keyframes #{$animationName} {
      @content;
    }
  }

  @mixin animation-delay($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
  }

  @mixin animation-duration($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
  }

  @mixin animation($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
  }

  @mixin transform($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
  }

  .pyro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    overflow: hidden;

    .text {
      color: #fff;
      font-size: 4rem;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .pyro > .before,
  .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation(
      (
        1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards
      )
    );
  }

  .pyro > .after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
  }

  @include keyframes(bang) {
    to {
      box-shadow: $box-shadow;
    }
  }

  @include keyframes(gravity) {
    to {
      @include transform(translateY(200px));
      opacity: 0;
    }
  }

  @include keyframes(position) {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
}
