@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Lato", sans-serif;
}
.intro * {
  transition: all 0.3s linear;
}
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-phase {
  margin: 0 auto;
  width: fit-content;

  .intro_maintext {
    font-size: 6rem;
    color: #555;
    border: 0.5rem solid #555;
    padding: 0 1rem;
  }
  .intro_subtext {
    color: #999;
    font-size: 2.5rem;
  }
  .intro_maintext_dot {
    opacity: 0;
    font-size: 0px !important;
  }
}
.intro_phase_0 {
  .intro_subtext {
    opacity: 0;
  }
  .intro_maintext {
    border: unset;
    padding: unset;
  }
}
.intro_phase_2 {
  .intro_subtext {
    opacity: 0;
  }
  .intro_maintext {
    color: #cc2c2c;
    border: unset;
    padding: unset;
  }
  .intro_maintext_dot {
    opacity: 1;
    font-size: inherit !important;
  }
  .scroll-down {
    display: block;
  }
}
.nav-item {
  font-size: 1.5rem;
}

.class-exposer * {
  text-shadow: 0 0 1px #fff;
}
.class-exposer {
  border: 1px solid rgb(0, 47, 255);
  margin-bottom: 1em;

  .class-exposer_name,
  .class-exposer_action-name {
    padding-left: 0.25rem;
    font-weight: 700;
  }

  li.class-exposer_action {
    list-style: none;
    border: 1px solid rgb(174, 0, 255);
    margin: 0 1em 1em 0;
    cursor: pointer;

    &:hover {
      background-color: rgb(249, 238, 255);
    }
  }

  .class-exposer_action-code {
    margin-left: 2rem;
  }
}
.main-content {
  min-height: 100vh;
  color: #444;
  padding-top: 2rem;

  &.tab-fixed {
    margin-top: 4rem;
  }
}
.nav {
  background-color: #f5f5f5;
}
.nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.scroll-down {
  font-size: 0.7rem;
  color: #555;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.blockquote {
  border-left: 0.5rem solid rgb(97, 11, 255);
  padding: 0.5rem;
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 5px;
  color: #555;
}
