@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Lato", sans-serif;
}
.intro * {
  transition: all 0.3s linear;
}
.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-phase {
  margin: 0 auto;
  width: fit-content;

  .intro_maintext {
    font-size: 6rem;
    color: #555;
    border: 0.5rem solid #555;
    padding: 0 1rem;
    text-align: center;
  }
  .intro_subtext {
    color: #999;
    font-size: 2.5rem;
  }
  .intro_maintext_dot {
    opacity: 0;
    font-size: 0px !important;
  }
  .intro_info_text {
    display: none;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
.intro_phase_0 {
  .intro_subtext {
    opacity: 0;
  }
  .intro_maintext {
    border: unset;
    padding: unset;
  }
}
.intro_phase_2,
.intro_phase_3 {
  .intro_subtext {
    opacity: 0;
  }
  .intro_maintext {
    color: #cc2c2c;
    border: unset;
    padding: unset;
  }
  .intro_maintext_dot {
    opacity: 1;
    font-size: inherit !important;
  }
  .scroll-down {
    display: block;
  }
}
.intro_phase_3 {
  .intro_info_text {
    display: block;
  }
}
.nav-item {
  font-size: 1.5rem;
}

.class-exposer * {
  text-shadow: 0 0 1px #fff;
}
.class-exposer {
  border: 1px solid rgb(0, 47, 255);
  margin-bottom: 1em;

  .class-exposer_name,
  .class-exposer_action-name {
    padding-left: 0.25rem;
    font-weight: 700;
  }

  ul {
    padding-inline-start: 2rem;
  }

  li.class-exposer_action {
    list-style: none;
    border: 1px solid rgb(174, 0, 255);
    margin: 0 1em 1em 0;
    cursor: pointer;

    &:hover {
      background-color: rgb(249, 238, 255);
    }
  }

  .class-exposer_action-code {
    margin-left: 2rem;
  }
}
.main-content {
  min-height: 100vh;
  color: #444;
  padding-top: 2rem;
  position: relative;
  font-size: 1.1rem;

  .next-phase {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: #ccc;
  }
  &.tab-fixed {
    margin-top: 4rem;

    .next-phase {
      position: fixed;
      top: 4em;
    }
  }
  h2 {
    font-size: 2.5rem;
  }
  ul.phase-step {
    font-size: 1.3rem;
  }
}
.nav {
  background-color: #f5f5f5;
}
.nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.scroll-down {
  font-size: 0.7rem;
  color: #555;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.blockquote {
  border: 1px solid rgb(97, 11, 255);
  border-left-width: 0.4rem;
  padding: 0.5rem;
  color: #555;
}
.phase [class*="phase-step"] {
  // display: none;
}
.image-circle {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  border: 3px solid rgb(127, 91, 255);
  overflow: hidden;
  margin: 1rem;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      width: 100%;
    }
  }
}
.line {
  display: inline-block;
  border-top: 2px solid #ccc;
  width: 5rem;
}
